<div class="row p-3 m-3 rounded bg-secondary text-white">
</div>
<div class="row m-1 text-dark">
  <div class="col-3">
    <h5>Folder structure will be as follow</h5>
    <h6>app</h6>
    <p>Core</p>
    <p>
      Constant = api Constant | validation Message | reg Exp <br>
      Models = class | interface <br>
      Services = utility | Module Services | genric Service <br>
      Enums = optional ? <br>
      Guards = canActivate | canDeactivate <br>
      Interceptors = tokenInterceptor | errorInterceptor | <br>
    </p>
    <p>Shared</p>
    <p>
      pipes (custome) <br>
      directives (custome) <br>
      reusableComponents <br>
    </p>
    <p>Pages</p>
    <p>components (with Routes)</p>
    <p>Environments</p>
    <p>
      dev <br>
      prod <br>
    </p>
  </div>
</div>