<div class="login-page">
<div class="bg-danger p-2 text-white rounded m-2">Username: <strong>tauseef123</strong> <br> Password: <strong>1234</strong></div>
    <div class="form">
      <form class="login-form">
        <input [(ngModel)]="userObj.userName" type="text" name="EmailId" placeholder="Enter email id"/>
        <input [(ngModel)]="userObj.password" type="password" name="Password" placeholder="Enter password"/>
        <button (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>