<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form">
        <input [(ngModel)]="userObj.EmailId" type="text" name="EmailId" placeholder="Enter email id"/>
        <input [(ngModel)]="userObj.Password" type="password" name="Password" placeholder="Enter password"/>
        <button (click)="onLogin()">Login</button>
      </form>
    </div>
  </div>