<div class="text-white">
  <div class="bg-secondary p-3 m-3">
    <h2>Controle flow statement</h2>
    <h6>&#64;if, &#64;else, &#64;else if</h6>
  </div>

  <div class="row m-3">
    <div class="col-3">
      @if(div1Visible==true){
      <div class="bg-primary p-2">
        Div-1
      </div>
      }
    </div>
    <div class="col-3">
      @if(div2Visible){
        <div class="bg-success p-2">Div-2</div>
      }@else {
        <div class="bg-warning p-2">Div-2</div>
      }
    </div>
    <div class="col-3">
      @if(num1==num2){
        <div class="bg-secondary p-2">Div-3</div>
      }
    </div>
    <div class="col-3">
      <div class="bg-danger p-2">
        @if(selectedStatus=="Active"){
          <div>Student is Active</div>
        }@else if(selectedStatus=="De-active"){
          <div>Student is De-active</div>
        }@else if(selectedStatus=="Pending"){
          <div>Student is Pending</div>
        }@else {
          <div>Please select Status</div>
        }
      </div>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-3">
      <button (click)="hide()" class="btn btn-danger mx-2">Hide</button>
      <button (click)="show()" class="btn btn-primary mx-2">Show</button>
    </div>
    <div class="col-3">
      <button (click)="toggle()" class="btn btn-success">Toggle</button>
    </div>
    <div class="col-3">
      <input style="width: 250px;" [(ngModel)]="num1" type="text" placeholder="Num-1" class="form-control">
      <input style="width: 250px;" [(ngModel)]="num2" type="text" placeholder="Num-2" class="form-control">
    </div>
    <div class="col-3">
      <select [(ngModel)]="selectedStatus" style="width: 250px;" class="form-select">
        <option selected value="---">Select status</option>
        <option value="Active">Active</option>
        <option value="De-active">De-active</option>
        <option value="Pending">Pending</option>
      </select>
    </div>
  </div>

</div>
<div class="row m-3">
  <div class="col-4">
    Current Role from Subject - {{currentRole}}
  </div>
  <div class="col-4">
    Role from Subject - {{Role}}
  </div>
</div>